@{
    Layout = "~/Views/Shared/_newlayout.cshtml";

}
<link href="~/Content/mycssa.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
