@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_newlayout.cshtml";

}
<link href="~/Content/mycssa.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>