@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Unit<br />
    Bahawalpur<br />
    <abbr title="Phone">Phone:</abbr>
    03042211006
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mianwasifrehan@gmail.com">Support@omss.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mianwasifrehan@gmail.com">Marketing@omss.com</a>
</address>